#zdj img {
    width: 600px;
    height: 600px;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#profil {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#info {
    width: 600px;
    padding: 0px 30px;
    border: 1px solid #5A965A;
    text-align: justify;
    text-justify: inter-word;
}

ul {
    list-style: none;
    padding: 0px;
}

#content h1 {
    margin-left: 325px;
}

@media only screen and (max-width: 600px) {
    #zdj img {
        width: 450px;
        height: 450px;
        
    }
}